/vendor
/node_modules
/nbproject
/public/storage
/packages/codecategories/vendor
/packages/codetags/vendor
/packages/codedatabase/vendor
/packages/codecategory/composer.lock
/packages/codetags/composer.lock
/packages/codedatabase/composer.lock
Homestead.yaml
Homestead.json
.env
